
<mat-grid-list cols="2" rowHeight="1:1" class="background">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <img [src]="person.person.picture">
        <mat-card-title>{{person.person.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{person.person.professionalHeadline}}</p>
        <p>{{person.person.location.name}}</p>
        <p>{{person.person.summaryOfBio}}</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Resume</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngFor="let data of person.experiences">
          <mat-card>
            <mat-card-content>
              <p>{{data.name}}</p>
              <p>Company: {{data.organizations[0].name}}</p>
              <div class="img__wrap">
                <img class="img__img" *ngIf="data.isByTorre" src="../../assets/torre.png">
                <p class="img__description">this job has been found in Torre.</p>
              </div>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
