<h1 mat-dialog-title>Hi USER</h1>
<div mat-dialog-content>
  <h2>important, please read me</h2>
  <p>
    ¡¡at this time we use <strong>local data</strong> !!
    the reason: this production build cannot use the API by CORS policy, if do you want, you can download the project from <a href="https://github.com/guati12/torre-technical-test.git">Github Project</a>
    in the local build, you will find proxy configurations, these configurations help you to connect to Torre API
    tanks you, and sorry for the issues</p>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">it's OK</button>
</div>
